main{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  display: grid;
    grid-template-columns: 25vw 1fr;
    gap: 0 3rem;
    height: 100vh;
    align-items: center;
    justify-items: space-around;
}


.hero{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    color:black;
    border: 0.1rem solid black;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
}
li{
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
li:hover{
    background-color:rgb(235, 205, 145);
}

.content{
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
    border-radius: 2rem;
    margin: 1rem;
    display: none;
}
.live {
    display: block;
    padding: 2rem;

  }

img{
    border-radius: 20%;
    width: 40%;
    height:50%;
    margin-right: 20px;

    
}

p{
    margin: 1rem;
    font-size: 1.5rem;

}
h2{
    font-size: 2rem;
}
span{
    font-size: 1.5rem;
    margin:1rem;
}




